.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: white;
    border-bottom: 1px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

/* Entfernt den Hover-Effekt auf dem Header */
.logo-title {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 80px; /* Erhöht die Größe des Logos */
    transition: all 0.3s ease-in-out;
}

.logo-image:hover {
    transform: rotate(5deg) scale(1.1);
}

.navigation {
    display: flex;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: black;
    padding: 10px 15px;
    border: 2px solid transparent;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-link:hover {
    border: 2px solid black;
    background-color: black;
    color: white;
    transform: scale(1.05);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.active-link {
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 10px 15px;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 12px; /* Verschiebt den Titel nach rechts */
}
